<h3> Merchants   <a href="merchants/new">   +</a></h3> 


<table class="bordered striped ">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @account.merchants.each do |merchant| %>
      <tr>
        <td>
          <%= merchant.name %><br>
        </td>
        <td><a href="/merchants/<%= merchant.id %>">View</a></td>
      </tr>
    <% end %>
  </tbody>
</table>