<h2>Merchants<a href="merchants/new">+</a></h2> 

<table class="bordered striped ">
  <thead><tr><th></th></tr></thead>
  <tbody>
    <% @account.merchants.each do |merchant| %>
      <tr>
        <td>
          <%= merchant.name %><br>
          Expenditure This Month: £<%= @account.merchant_total( merchant.id ) %>
        </td>
        <td><a href="/merchants/<%= merchant.id %>">View</a></td>
      </tr>
    <% end %>
  </tbody>
</table>