<h3> New Response </h3>

<div class="row">
  <form class="col s12" method="post" action="/advice/posts">
    <div class="row">
      <div class="input-field col s11">
        <i class="material-icons prefix">Title</i>
        <input name="title" type="text" class="validate">
        <label for="title">Title</label>
      </div>

      <!-- <input type="hidden" name="question_date" value="<%= @date %>"/> -->
      <input type="submit"></input>
    </div>
</div>
  </form>


