<h3> <%= @question.title %> </h3>

<% @responses.each do |each| %>
<blockquote>
<p>
  <%= each.response %>
  <p> <%= User.find(each.user_id).username %>
  </p>
</p>

<hr>
</blockquote>
<% end %>


<blockquote>
  <a href="/advice/posts/new">Post response</a>
</blockquote>