<!DOCTYPE html>
<html>
<head>
  <title>visuu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</head>
<body>
  <header>
    <div class="top-bar"></div>
    <nav> 
      <div class="nav-wrapper cyan">
        <a href="/" class="brand-logo left">VISUU</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/income">Income</a></li>
          <li><a href="/tags">Tags</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li><a href="/advice">Get Advice</a></li>
        </ul>
      </div>
   </nav>
  </header>
  <%= yield %>
  <script type="text/javascript">
    $( document ).ready(function(){
      $(".button-collapse").sideNav();
    });
  </script>
</body>
</html>