<!DOCTYPE html>
<html>
<head>
  <title>visuu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <nav>

      <div class="nav-wrapper">

        <a href="#" class="brand-logo">Visuu</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">link1</a></li>
          <li><a href="#">link2</a></li>
          <li><a href="#">JavaScript lol</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <%= yield %>
</body>
</html>