
<p> Total Expenses:</p> <%= @account.total(@account.transactions) %>


<p> Total Credits:</p> <%= @account.total(@account.transactions) %>

<p> Target: </p>
<p> Date: </p>

<%= @account.targets.first %>