body {
 font-family: 'Nunito', Open Sans;
}
h3{
  text-align: center;
  margin: 20px auto;

}

.top-bar {
  height: 20px;
  background-color: #0097A7;
}

.target-card{
  margin-top: 10px;
}

.progress{
  height: 12px;
  border-radius: 30px;
  background-color: #0097A7;
}

.progress .determinate{
  background-color: #00BCD4;
}

.target-summary {
  font-family: 'Nunito', Open Sans;
  text-align: center;
  color: #444;
  font-size: 16px;
}

.card {
  margin-bottom: 0px;
}

.card .card-content {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color: #999;
}

.row {
  margin-bottom: 5px;
}

img .responsive-img {
  height: 400px;
}

#theplus{
  margin-top: 80px;
  margin-right: 100px;
}
#browser-default{
  display: inline;
}
#theJplus{
  margin:0;
  display: inline;
}

.Tshow{
  margin-top: 50px;
}
#editButton{
  margin:40px auto;
  margin-left: 85px;
}
