<h1>Incomes</h1>

<table class="bordered striped ">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @account.incomes.each do |i| %>
      <tr>
        <td><%= i.amount %></td>
        <td><%= i.income_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

