<<<<<<< HEAD
<h3>Incomes  <a href="incomes/new">   +</a></h3>
=======
<h3>Incomes</h3>
>>>>>>> 9b3478ac747ea74607f9fe00f2fd254127aacddf

<table class="bordered striped ">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @account.incomes.each do |i| %>
      <tr>
        <td>£<%= i.amount_format %></td>
        <td><%= i.date_format %></td>
      </tr>
    <% end %>
  </tbody>
</table>