<h3> Add Transaction </h3>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s11">
        <i class="material-icons prefix">payment</i>
        <input id="amount" type="number" class="validate">
        <label for="amount">Amount</label>
      </div>
      <div class="input-field col s11">
        <i class="material-icons prefix">date_range</i>
        <input id="date" type="date" class="validate">
        <label for="date"></label>
      </div>
      <div class="input-field col s11">
        <i class="material-icons prefix">shopping_basket</i>
        <input id="merchant" type="text" class="validate">
        <label for="merchant">Merchant</label>
      </div>
      <div class="input-field col s11">
        <i class="material-icons prefix">turned_in</i>
        <input id="tag" type="text" class="validate">
        <label for="tag">Tag</label>
      </div>
    </div>
    <a class="btn-floating btn-large center waves-effect waves-light cyan"><i class="material-icons">add</i></a>
  </form>
</div>